<!DOCTYPE html>
<html>
<head>
	<title>Ohio State Buildings</title>
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
</head>

<body ng-app="app">
	<div id="main" ng-controller="MainCtrl">
		<h1>{{ title }}</h1>
	</div>
	
	<div id="content" ng-controller="MainCtrl">
		<input class="search" placeholder="Search" type="text" ng-model="sort"/>
		<ul class="list" ng-repeat="i in building | filter:sort">
			<li class="lists" style="list-style: none;">
            	<p class="id"> {{ i.id }} </p>
            	<p class="name"> {{ i.name }} </p>
            	<p class="address"> {{ i.address + ", " + i.zipCode }} </p>
            	<img ng-src="{{ i.imageUrl }}" height="84" width="84">
            </li>
          </ul>
     </div>
   
	<!-- Modules -->
    <script src="app.js"></script>
    <!-- Controllers -->
    <script src="MainCtrl.js"></script>
    
</body>
</html>